<div class="grid" [ngGrid]=ngGridOptions>

    <div class="grid-item" [ngGridItem]="{sizex: 16, sizey: 1}" style="background-color: darkgrey">
        <div style="float: left">
            <img src="../assets/img/logo_placeholder.png" height="50" width="50">
        </div>
        <div>
            <h1>Buchhaltung</h1>
        </div>
    </div>
    <div class="grid-item" [ngGridItem]="{sizex: 16, sizey: 12}" style="overflow-y: scroll">
        <div class="ui three buttons">
            <button class="ui active button">One</button>
            <button class="ui button">Two</button>
            <button class="ui button">Three</button>
        </div>
    </div>
</div>