<p-dataTable [value]="accounts" selectionMode="single" [(selection)]="selectedAccount" (onRowSelect)="onRowSelect($event)" [paginator]="true" rows="15" [responsive]="true" [style]="{'width': '700px'}">
    <header>Konten</header>
    <p-column field="accountNumber" header="Kontonummer" [sortable]="true" [style]="{'width': '200px'}"></p-column>
    <p-column field="accountName" header="Beschreibung" [sortable]="true" [style]="{'width': '500px'}"></p-column>
    <footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></footer>
</p-dataTable>

<!-- Dialog to add, edit an account -->
<p-dialog header="Account Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="account">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="accountNumber">Kontonummer</label></div>
            <div class="ui-grid-col-8"><input pInputText id="accountNumber" [(ngModel)]="account.accountNumber" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="accountName">Beschreibung</label></div>
            <div class="ui-grid-col-8"><input pInputText id="accountName" [(ngModel)]="account.accountName" /></div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </footer>
</p-dialog>